
/*header styles*/
.logo {
	display: inline-block;
}
.image-logo {
	vertical-align: middle;
	margin-left: 140px;
}
.navigation {
	display: inline-block;
}
.nav-li {
	display: inline-block;
	margin-right: 60px;
	size: 16px;
	text-transform: uppercase;
}
.nav-a {
	color: #181C28;
}
.nav-li-size {
	margin-left: 119px;
}

.header-wraper {
	position: fixed;
	background-color: white;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 20;
}
body {
	margin-top: 100px;
}

/*banner*/
.image-wraper {
	position: absolute;
	width: 100%;
}
.banner-text1 {
	position: absolute;
	top: 105px;
	left: 647px;
	color: #FFFFFF;
	size: 22px;

}
.banner-text2 {
	position: absolute;
	top: 132px;
	left: 700px;
	color: #FFFFFF;
	font-family: 'Playfair Display SC', serif;
	letter-spacing: 1px;
	size: 48px;

}

/*pseeudo elements*/
.read {
	color: #FF7A00;
	font-size: 14px;
	margin-left: 138px;
}
.read::after {
	content: " ";
	width: 47px;
	height: 4px;
	background-color: #FF7A00;
	display: inline-block;
	margin-left: 20px;
}



.box-wraper {
	position: absolute;
	width: 190px;
	height: 70px;
	background-color: #FF7A00;
	top: 2168px;

}
.text-box {
	position: relative;
	right: 0;
	bottom: 0;
	top: 2168px;

}




/*footer*/
.copyright {
	position: fixed;
	right: 142px;
	bottom: 137px;

}